<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PEIS.Properties.Settings.PEISConnectionString" connectionString="Data Source=DESKTOP-R5HPACQ\SQLEXPRESS;Initial Catalog=PEISLX;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="PEIS.Properties.Settings.PEISConnectionString1" connectionString="Data Source=DESKTOP-R5HPACQ\SQLEXPRESS;Initial Catalog=PEISLX;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="PEIS.Properties.Settings.PEISConnectionString2" connectionString="Data Source=DESKTOP-R5HPACQ\SQLEXPRESS;Initial Catalog=PEISLX;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="PEIS.Properties.Settings.Connection233" connectionString="Data Source=LM-PC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PEIS.Properties.Settings.PEISLXConnectionString" connectionString="Data Source=PCV15;Initial Catalog=PEISLX;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="PEIS.Properties.Settings.PEISLXConnectionStringzhz"
      connectionString="Data Source=DESKTOP-R5HPACQ\SQLEXPRESS;Initial Catalog=PEISLX;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Constr" value="server=.\sql2008;database=hispeis;uid=sa;pwd=135"/>
    <!--体检数据库连接参数-->
    <add key="jyjk_sql" value="server=73BCB51AB08A4AF;database=BC5300;uid=sa;pwd="/>
    <add key="bc3000_sql" value="server=ql\ql2005;database=MindrayLis;Integrated Security=SSPI"/>
    <add key="sqlanywhere" value="ODBC;Driver=Sybase SQL Anywhere 3.5; DefaultDir=c:\;Dbf=C:\Lis2002\database\lis2002.db;Uid=DBA;Pwd=thisisapig;Dsn=Lis2002"/>
    <add key="zdgx" value="否"/>
    <add key="ViewAndPrint" value="0"/>
    <!--预览条码后是否打印0表示不打印 1表示自动打印-->
    <add key="skinpath" value="skin\vista1\vista1.ssk"/>
    <!--<add key="skinpath" value="skin\Page\PageColor2.ssk"/>-->
    <!--<add key="skinpath" value="skin\WinXP\XPOrange.ssk"/>-->
    <!--<add key="skinpath" value="skin\WinXP\XPBlue.ssk"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
