<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>ftp://server/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="zxzhis.dll" lastver="2.0.0.1" size="10240000" />
    <LocalFile path="zxzhis.exe" lastver="2.0.0.1" size="10240000" />
    <LocalFile path="zxz_ywsz.dll" lastver="2.0.0.1" size="10240000" />
    <LocalFile path="zxz_medi.dll" lastver="2.0.0.1" size="10240000" />
    <LocalFile path="MZService.DLL" lastver="2.0.0.0" size="10240000" />
    <LocalFile path="MZGL.DLL" lastver="2.0.0.0" size="10240000" />
    <LocalFile path="MZEntity.DLL" lastver="2.0.0.0" size="10240000" />
    <LocalFile path="MZDAL.DLL" lastver="2.0.0.0" size="10240000" />
    <LocalFile path="ZYGL.exe" lastver="2.0.0.1" size="10240000" />
  </UpdateFileList>
</Config>